<div class='header'>
  <div class='left'>
    <div class="toggle-nav">
      <a href="#" class="subnav-link toggle-navigation">
        <i class="ion-navicon" title="show/hide the navigation"></i>
      </a>
    </div>
    <a href="/">
      <img src="/assets/images/aker-logo.png" id="logo">
    </a>
    <div class="sections">
      <a class="nav {{#contains path.href 'tutorials'}}active{{/contains}}" href="/tutorials/topics/growsquare">Design Tutorials</a>
      <a class="nav {{#contains path.href 'assembly-manuals'}}active{{/contains}}" href="{{ assemblyManuals.[0].path.href }}{{ assemblyManuals.[0].path.name }}">Assembly Manuals</a>
      <a class="nav {{#contains path.href 'user-manuals'}}active{{/contains}}" href="{{ userManuals.[0].path.href }}{{ userManuals.[0].path.name }}">User Manuals</a>
    </div>
    <div class="dropdown mobile-only">
      <a id="dLabel" data-target="#" class="nav" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
        {{first-word-in-relative-url path.href}}
        <i class="icon ion-chevron-down"></i>
      </a>
      <ul class="dropdown-menu" aria-labelledby="dLabel">
        <li><a href="/tutorials/topics/growsquare">Design Tutorials</a></li>
        <li><a href="{{ assemblyManuals.[0].path.href }}{{ assemblyManuals.[0].path.name }}">Assembly Manuals</a></li>
        <li><a href="{{ userManuals.[0].path.href }}{{ userManuals.[0].path.name }}">User Manuals</a></li>
        <li><a href="/open-business-model">Open Business Model</a></li>
        <li><a href="{{ beehives.[0].path.href }}{{ beehives.[0].path.name }}">Open Source Beehives</a></li>
      </ul>
    </div>
    <div class="sections divided">
      <a class="nav {{#if open-business-model}}active{{/if}}" href="/open-business-model">Open Business Model</a>
    </div>
    <div class="sections divided">
      <a class="nav {{#if open-source-beehives}}active{{/if}}" href="{{ beehives.[0].path.href }}{{ beehives.[0].path.name }}">Open Source Beehives</a>
    </div>
  </div>
  <div class='right'>
    {{#if formats}}
      <div class="dropdown">
        <a id="dLabel" data-target="#" class="nav nav-device" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
          <i class="im-devices-icon"></i>
          {{#if solidworks}}
            SolidWworks
          {{/if}}
          {{#if sketchup}}
            Sketchup
          {{/if}}
          {{#if rhino}}
            Rhino
          {{/if}}
        </a>
        <ul class="dropdown-menu" aria-labelledby="dLabel">
          {{#contains devices 'solidworks'}}
            <li><a href="{{path.href}}{{path.name}}/solidworsk/">SolidWorks</a></li>
          {{/contains}}
          {{#contains devices 'sketchup'}}
            <li><a href="{{path.href}}{{path.name}}/sketchup/">Sketchup</a></li>
          {{/contains}}
          {{#contains devices 'rhino'}}
            <li><a href="{{path.href}}{{path.name}}/rhino/">Rhino</a></li>
          {{/contains}}
        </ul>
      </div>
    {{/if}}
    <a href='https://github.com/akerkits/docs' class="nav" target="_blank"><i class="ion-edit"></i>Edit</a>
 
  </div>
</div>
