<!doctype html>
<html class="{{columns}}-columns">
<head>
  {{> head sectionTitle='Assembly Manuals'}}
</head>
<body>
  <div id="docs">
    {{> header}}

    <div class='content-root'>
      <div class='menubar'>
      <ul class="nav guide-menu">
        {{#each assemblyManuals}}
          <li>
            <h3 class="guide-section-titles"><a href="{{path.href}}{{path.name}}">{{title}}</a></h3>
          </li>
        {{/each}}
      </ul>
      </div>
      <div class="page-body">
        <div class='content-inner'>
          <div class="content" >
            <h6 class="content-section-title">Assembly Manuals</h6>
            {{{contents}}}
          </div>
        </div>
      </div>
    </div>
    {{> scripts}}

</body>
</html>
