<!doctype html>
<html class="{{columns}}-columns">
  <head>
    {{> head sectionTitle=title}}
  </head>
  <body>
    <div id="docs">
      {{> header}}

      <div class='content-root'>
        <div class='menubar'>
          <div class="nav guide-menu">
            <h3 class="guide-section-titles">{{{title}}}</h3>
            <div class="in-page-toc-container">
              <ul class="nav in-page-toc show">
                {{#each toc}}
                  <li data-secondary-nav=""><a href="#{{id}}">{{{text}}}</a></li>
                {{/each}}
              </ul>
            </div>
          </div>
        </div>
        <div class="page-body">
          <div class='content-inner'>
            <div class="content" >
              {{{contents}}}
            </div>
          </div>
        </div>
      </div>
      {{> scripts}}

    </body>
  </html>
