<!doctype html>
<html class="{{columns}}-columns">
<head>
  {{> head sectionTitle='User Manuals'}}
</head>
<body>
  <div id="docs">
    {{> header}}

    <div class='content-root'>
      <div class='menubar'>
      <ul class="nav guide-menu">
        {{#each userManuals}}
          <li><a href="{{path.href}}{{path.name}}">{{title}}</a></li>
        {{/each}}
      </ul>
      </div>
      <div class="page-body">
        <div class='content-inner'>
          <div class="content" >
            <h6 class="content-section-title">User Manuals</h6>
            {{{contents}}}
          </div>
        </div>
      </div>
    </div>
    {{> scripts}}

</body>
</html>
